<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.business.mapper.ChainAddressMapper">

    <resultMap type="ChainAddress" id="ChainAddressResult">
        <result property="id"    column="id"    />
        <result property="chain"    column="chain"    />
        <result property="type"    column="type"    />
        <result property="ver"    column="ver"    />
        <result property="walletId"    column="wallet_id"    />
        <result property="symbol"    column="symbol"    />
        <result property="addr"    column="addr"    />
        <result property="showAddr"    column="show_addr"    />
        <result property="usdtAddr"    column="usdt_addr"    />
        <result property="balance"    column="balance"    />
        <result property="usdtBalance"    column="usdt_balance"    />
        <result property="needRefresh"    column="need_refresh"    />
        <result property="privKey"    column="priv_key"    />
        <result property="status"    column="status"    />
        <result property="memo"    column="memo"    />
        <result property="updateAt"    column="update_at"    />
        <result property="weight"    column="weight"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectChainAddressVo">
        select id, chain, type, ver, wallet_id, symbol, addr, show_addr, usdt_addr, balance, usdt_balance, need_refresh, priv_key, status, memo, update_at, weight, create_time from c_chain_address
    </sql>

    <sql id="SelectDomainChainAddressVo">
        select a.id, a.chain, a.type, a.ver, a.wallet_id, a.symbol, a.addr, a.show_addr, a.usdt_addr, a.balance, a.usdt_balance, a.need_refresh, a.priv_key, a.status, a.memo, a.update_at, a.weight, a.create_time from c_chain_address a
    </sql>

    <select id="selectChainAddressList" parameterType="ChainAddress" resultMap="ChainAddressResult">
        <include refid="selectChainAddressVo"/>
        <where>
            <if test="chain != null  and chain != ''"> and chain = #{chain}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="symbol != null  and symbol != ''"> and symbol = #{symbol}</if>
            <if test="showAddr != null  and showAddr != ''"> and show_addr = #{showAddr}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>

    <select id="selectChainAddressById" parameterType="Long" resultMap="ChainAddressResult">
        <include refid="selectChainAddressVo"/>
        where id = #{id}
    </select>

    <insert id="insertChainAddress" parameterType="ChainAddress" useGeneratedKeys="true" keyProperty="id">
        insert into c_chain_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="chain != null">chain,</if>
            <if test="type != null">type,</if>
            <if test="ver != null">ver,</if>
            <if test="walletId != null">wallet_id,</if>
            <if test="symbol != null">symbol,</if>
            <if test="addr != null">addr,</if>
            <if test="showAddr != null">show_addr,</if>
            <if test="usdtAddr != null">usdt_addr,</if>
            <if test="balance != null">balance,</if>
            <if test="usdtBalance != null">usdt_balance,</if>
            <if test="needRefresh != null">need_refresh,</if>
            <if test="privKey != null">priv_key,</if>
            <if test="status != null">status,</if>
            <if test="memo != null">memo,</if>
            <if test="updateAt != null">update_at,</if>
            <if test="weight != null">weight,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="chain != null">#{chain},</if>
            <if test="type != null">#{type},</if>
            <if test="ver != null">#{ver},</if>
            <if test="walletId != null">#{walletId},</if>
            <if test="symbol != null">#{symbol},</if>
            <if test="addr != null">#{addr},</if>
            <if test="showAddr != null">#{showAddr},</if>
            <if test="usdtAddr != null">#{usdtAddr},</if>
            <if test="balance != null">#{balance},</if>
            <if test="usdtBalance != null">#{usdtBalance},</if>
            <if test="needRefresh != null">#{needRefresh},</if>
            <if test="privKey != null">#{privKey},</if>
            <if test="status != null">#{status},</if>
            <if test="memo != null">#{memo},</if>
            <if test="updateAt != null">#{updateAt},</if>
            <if test="weight != null">#{weight},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateChainAddress" parameterType="ChainAddress">
        update c_chain_address
        <trim prefix="SET" suffixOverrides=",">
            <if test="chain != null">chain = #{chain},</if>
            <if test="type != null">type = #{type},</if>
            <if test="ver != null">ver = #{ver},</if>
            <if test="walletId != null">wallet_id = #{walletId},</if>
            <if test="symbol != null">symbol = #{symbol},</if>
            <if test="addr != null">addr = #{addr},</if>
            <if test="showAddr != null">show_addr = #{showAddr},</if>
            <if test="usdtAddr != null">usdt_addr = #{usdtAddr},</if>
            <if test="balance != null">balance = #{balance},</if>
            <if test="usdtBalance != null">usdt_balance = #{usdtBalance},</if>
            <if test="needRefresh != null">need_refresh = #{needRefresh},</if>
            <if test="privKey != null">priv_key = #{privKey},</if>
            <if test="status != null">status = #{status},</if>
            <if test="memo != null">memo = #{memo},</if>
            <if test="updateAt != null">update_at = #{updateAt},</if>
            <if test="weight != null">weight = #{weight},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteChainAddressById" parameterType="Long">
        delete from c_chain_address where id = #{id}
    </delete>

    <delete id="deleteChainAddressByIds" parameterType="String">
        delete from c_chain_address where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
